@model IEnumerable<Model.PacketDetail>
@{
    ViewBag.Title = "Ration Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ration Dashboard</title>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

    @* These CSS and JS File For SweetAlert Box *@
    <link href="~/SweetAlert/CSS/sweetalert.css" rel="stylesheet" />
    <script src="~/SweetAlert/JS/sweetalert.js"></script>
    <link href="~/SweetAlert/CSS/sweetalert.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css.map" />
    <script src="~/SweetAlert/JS/sweetalert.min.js"></script>
    <script>
         sessionStorage.setItem("startdate", "");
        $(document).ready(function () {
            $('#RationGridTable').DataTable();
        });
    </script>

</head>
<body>
    <div class="container">
        <a class="popup btn btn-primary" href="/Ration/AddRation/0" style="margin-bottom:20px; margin-top:20px;">Add New Packet</a>

        <a class="popup btn btn-primary" href="/Ration/Schduled/" style="margin-bottom:20px; margin-top:20px;">Ration Schedule</a>

        <br />
        <div style="width:90%; margin:0 auto;">


            <table class="table table-bordered" id="RationGridTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Packet Id</th>
                        <th>Packet Type</th>
                        <th>Packet Content</th>
                        <th>Calories</th>
                        <th>Expiry Date</th>
                        <th>
                            Quantity in
                            Litres
                        </th>
                        <th>Action</th>

                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PacketId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PacketType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PacketContent)
                            </td>

                            <td>
                                @if (item.Calories != 0)
                                {
                                    @Html.DisplayFor(modelItem => item.Calories)

                                }
                                else
                                {
                                    var Cal = "-";
                                    @Cal;
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiryDate)
                                @*@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ExpiryDate))*@

                            </td>
                            <td>
                                @if (item.LitersQty != 0)
                                {
                                    @Html.DisplayFor(modelItem => item.LitersQty)

                                }
                                else
                                {
                                    var Ltr = "-";
                                    @Ltr;
                                }
                            </td>
                            <td>
                                @*<button class="btn btn-success" id="EditBtn" onclick="EditRation(@item.Id)">Edit</button>*@
                                @{
                                    var RationID = item.Id;
                                    <a class="btn btn-success" href="/Ration/EditRation/?PacketId=@RationID">Edit</a>

                                }
                                <button class="btn btn-danger" id="DeleteBtn" onclick="DeleteRation(@item.Id)">Delete</button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>

<script src="~/Scripts/Dashboard.js"></script>
